<%= form_for(@char) do |f| %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :gender %><br />
  <%= f.select :gender, ['male', 'female'] %>
</div>



<div class="actions">
  <%= f.submit %>
</div>
<% end %>
