<div class="col-sm-offset-3">
  <h2>Edit Character</h2><br>
</div>
<%= form_for @character, html: {class: "row form-horizontal"}, :action => 'update' do |f| %>
<% if @character.errors.any? %>
  <div id="errorExplanation">
    <% @character.errors.full_messages.each do |msg| %>
    <div class="row">
      <div class="alert alert-danger col-sm-6" role="alert"><strong><%= msg %>!</strong></div>
    </div>
    <% end %>

  </div>
<% end %>
  <fieldset disabled>
    <div class="form-group">
      <%= f.label :name, class: 'col-sm-1 col-sm-offset-3 control-label'%>
      <div class="col-sm-5">
        <%= f.text_field :name, class: 'form-control disabled' %>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
      <%= f.label :image, class: 'col-sm-1 col-sm-offset-3 control-label'%>
      <div class="col-sm-5">
        <%= f.file_field :image, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :gender, class: 'col-sm-1 col-sm-offset-3 control-label' %>
    <div class="col-sm-2">
      <%= f.select(:gender, options_for_select([['Male', 1], ['Female', 2]]), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-offset-3 col-sm-6">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  </div>

  <% end %>
