
  <%= form_for @character, html: {class: "form-horizontal"}, :action => 'create' do |f| %>
  <% if @character.errors.any? %>
    <div id="errorExplanation">
      <% @character.errors.full_messages.each do |msg| %>
      <div class="row">
        <div class="alert alert-danger col-sm-6" role="alert"><strong><%= msg %>!</strong></div>
      </div>
      <% end %>

    </div>
  <% end %>
    <% if @character.errors.include?(:name)  %>
    <div class="form-group has-error has-feedback">
      <%= f.label :name, class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
        <%= f.text_field :name, class: 'form-control', id: "inputWarning1"%>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <% @character.errors.full_messages_for(:name).each do |msg| %>
            <span id="helpBlock2" class="help-block"><%= msg %></span>
          <% end %>
      </div>
    </div>
    <% else %>
      <div class="form-group">
        <%= f.label :name, class: 'col-sm-1 col-sm-offset-3 control-label'%>
        <div class="col-sm-5">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
    <% end %>



    <div class="form-group">
        <%= f.label :image, class: 'col-sm-1 col-sm-offset-3 control-label'%>
        <div class="col-sm-5">
          <%= f.file_field :image, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :gender, class: 'col-sm-1 col-sm-offset-3 control-label' %>
      <div class="col-sm-2">
        <%= f.select(:gender, options_for_select([['Male', 1], ['Female', 2]]), {}, {class: "form-control"}) %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-offset-3 col-sm-6">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    </div>

    <% end %>
